/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}

header {
    background-image: url(../images/log_in.jpg);
}

h1 {
    text-align: center;  
}

p {
    text-align: center;   
}


footer {
    position: ;
    right: 0;
    bottom: -120%;
    left: 0;
}


