/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}

header {
    background-image: url(../images/invictus_cover.jpg);
}

.global-navigation a.aktiv {
    color: #e6aa00 !important;
}

#produkt {
    dislpay: block;
    margin-left:43px;
    margin-bottom: 40px;
    float:left;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    width: 200px;
}

#produkt img {
    width: 200px;
    margin-top: 20px;
}

#produkt aside {
    float:left;
}

#produkt ul {
    padding: 0px;
    margin-left: 35px;
    width: 130px;
}

#register {
    margin-left: 33.7%;
}

footer {
    position: ;
    right: 0;
    bottom: -120%;
    left: 0;
}
