/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}

global-navigation a:hover {
    color: #fff;
    text-decoration: underline;
}

.global-navigation a.aktiv {
    color: #fff;
    text-decoration: underline;
}

header {
    background-image: url(../images/contact_us.jpg);
}

section div {
    float:left;
    margin-left: 16%;
    margin-top: 2.1%;
}

section a {   
    color: #555 !important;
}

h2 {
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: -100.5%;
    left: 0;
}