/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}
/*bestämmer bild i headern*/
header {
    background-image: url(../images/invictus_cover.jpg);
}

aside {
    margin-top: -4.5%;
}

aside h1:hover {
    color: #555;
    text-decoration: underline;
}

aside a.aktiv {
    color: #555;
    text-decoration: underline;
}

aside a {
    margin-left:12.9%;
    float:left;
    color: #555;
    text-align: center;
    vertical-align: middle;
    line-height: 400%;
    width: 16%;
}
/*bestämmer storlek på bilden*/
section img {
    width: 300px;
}

/*skapar produktrutan*/
#produkt {
    margin-left:6.9%;
    margin-bottom:3%;
    float:left;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 485%;
    width: 70%;
}

article {
    float:left;
}

#produkt div {
    margin-left: 10%;
	max-width: 55%;
	}

/*add to cart knappen*/
#add {
    position: static;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    margin-top: 5%;
}

footer {
    right: 0;
    bottom: -200%;
    left: 0;
}