/*
Invictus inc.
invictuswatches@gmail.com
*/



body {
    background-repeat: no-repeat;
    background-color: #fff;
}

header {
    background-image: url(../images/log_in.jpg);
}

/*ger css till ett felmeddelande, samma som i headern*/

.errmsg {
    position: absolute;
        top: 70%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}


section {
    margin-top:2%;
    margin-left: 32%;
}

/*storlek på bilden*/

section img {
    width: 50%;
    margin-left: -50%;
}

section aside {
    margin-top: -50%;
}

/*ändrar positionen på ett formulär*/

#login1 {
    margin-left: -0.55%;
}

h2 {
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: -90%;
    left: 0;
}
