/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}

header {
    background-image: url(../images/log_in.jpg);
}

section {
    margin-top: 2%;
    margin-left: 32%;
}

h2 {
    text-align: center;
}

aside { 
    text-align: center;
    position: absolute;
    top: 72.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

a {
    color: #555;
}

footer {
    position: absolute;
    right: 0;
    bottom: -150%;
    left: 0;
}

