/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}

header {
    background-image: url(../images/invictus_cover.jpg);
}

.global-navigation a.aktiv {
    color: #e6aa00 !important;
}

aside {
    margin-top: -20%;
}

#exclusive {
    color: #e6aa00;
    border-color: #e6aa00;
}

aside a {
    margin-left:12.9%;
    float:left;
    color: #fff;
    border-style:solid;
    border-width: 1px; /*procent*/
    border-color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 400%;
    width: 16%;
}

#produkt {
    margin-left:6.9%;
    margin-bottom:3%;
    float:left;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 485%;
    width: 70%
}

article {
    float:left;
}

#produkt div {
    margin-left: 10%;
	max-width: 55%;

}

#add {
    position: static;
    text-align: center;
    vertical-align: middle;
    padding: 0 1%;
    border-style:solid;
    border-width: 1px; /*procent*/
    margin-top: 47%;
    background-color: #aaa;
}

footer {
    position: absolute;
    right: 0;
    bottom: -225%;
    left: 0;
}