/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}

header {
    background-image: url(../images/log_in.jpg);
}

section {
    margin-top:2%;
    margin-left: 33.7%;
}

h2 {
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: -75%;
    left: 0;
}
