/*
Invictus inc.
invictuswatches@gmail.com
*/

body {
    background-repeat: no-repeat;
    background-color: #fff;
}

header {
    background-image: url(../images/invictus_cover.jpg);
}

.global-navigation a.aktiv {
    color: #e6aa00 !important;
}

aside {
    margin-top: -20%;
}

aside a {
    margin-left:12.9%;
    float:left;
    color: #fff;
    border-style:solid;
    border-width: 1px; /*procent*/
    border-color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 400%;
    width: 16%;
}

footer {
    position: absolute;
    right: 0;
    bottom: -120%;
    left: 0;
}

    